body{margin:0;SCROLLBAR-FACE-COLOR: #CFCFCF;SCROLLBAR-3DLIGHT-COLOR: #CFCFCF;SCROLLBAR-ARROW-COLOR: #ffffff;SCROLLBAR-DARKSHADOW-COLOR: #CFCFCF;SCROLLBAR-BASE-COLOR:#CFCFCF;}

p {margin-top:0px;margin-bottom:0px;}

td {font-size:12px;font-family:"굴림","돋움"; color:#555555; line-height:160%} 
table {border-collapse:collapse;}


a:link {text-decoration:none;color:#555555;}
a:visited {text-decoration:none; color:#555555;} 
a:hover {text-decoration:none;color:#009933;} 




/* 공통 */

select {font-size:9pt; font-family:"굴림","돋움"; color:#666666; border:1px solid #cccccc; background-color:#ffffff;}
select.eleven {font-size:8pt; font-family:"굴림","돋움"; color:#666666; border:1px solid #cccccc; background-color:#ffffff;}
textarea {font-size:9pt; font-family:"굴림","돋움"; color:#666666; border:1px solid #e7e7e7; background-color:#f4f4f4;}
.checkbox  {border:0px; width:14px; height:14px; line-height:160%;}
.radio   {border:0px; line-height:160%;}

.input {border:0px; font-size:9pt; font-family:"굴림","돋움"; color:#545454; border:1px solid #dfdfdf; background-color:#f7f7f7;}
input.none {font-size:9pt;	font-family:"굴림","돋움";	color:#545454;	border-width:1pt;	border-style:solid;	background-color:#ffffff;}
.search_input { font-size:12px; color: #847f74; font-family:"굴림"; border: #cfcfcf 1px solid; background-color: #ffffff;}

.prd_search {border:1px solid #ffffff; width:252px; font-size:9pt; font-family:"굴림","돋움"; color:#666666;}
.prd_input {border:1px solid #cccccc; font-size:9pt; font-family:"굴림","돋움"; color:#666666;}



/* 여백 */

/* pad */	

.tpad_3 {padding-top:3px;}
.tpad_5 {padding-top:5px;}
.tpad_10 {padding-top:10px;}
.tpad_15 {padding-top:15px;}
.tpad_20 {padding-top:20px;}
.tpad_25 {padding-top:25px;}
.tpad_30 {padding-top:30px;}
.tpad_50 {padding-top:50px;}

.bpad_5 {padding-bottom:5px;}
.bpad_10 {padding-bottom:10px;}
.bpad_15 {padding-bottom:15px;}
.bpad_20 {padding-bottom:20px;}
.bpad_30 {padding-bottom:30px;}
.bpad_40 {padding-bottom:40px;}
.bpad_50 {padding-bottom:50px;}


.lpad_3 {padding-left:3px;}
.lpad_5 {padding-left:5px;}
.lpad_10 {padding-left:10px;}
.lpad_15 {padding-left:15px;}
.lpad_20 {padding-left:20px;}
.lpad_25 {padding-left:25px;}
.lpad_30 {padding-left:30px;}
.lpad_40 {padding-left:40px;}

.rpad_3  {padding-right:3px;}
.rpad_5  {padding-right:5px;}
.rpad_10 {padding-right:10px;}
.rpad_15 {padding-right:15px;}
.rpad_20 {padding-right:20px;}
.rpad_30 {padding-right:30px;}


.hpad_3  {padding: 3px 0px 3px 0px;}
.hpad_4  {padding: 4px 0px;}
.hpad_5  {padding: 5px 0px 5px 0px;}
.hpad_10 {padding: 10px 0px 15px 0px;}
.hpad_15 {padding: 15px 0px 15px 0px;}
.hpad_20 {padding: 20px 0px 20px 0px;}


.wpad_3  {padding: 0px 3px 0px 3px;}
.wpad_5  {padding: 0px 5px 0px 5px;}
.wpad_10 {padding: 0px 10px 0px 10px;}
.wpad_12 {padding: 0px 12px 0px 12px;}
.wpad_15 {padding: 0px 15px 0px 15px;}
.wpad_20 {padding: 0px 20px 0px 20px;}
.wpad_40 {padding: 0px 40px 0px 40px;}


/* 타이틀, 현재위치 */
.here { color:#888888;  FONT-SIZE:11px; FONT-FAMILY: dotum,TAHOMA; vertical-align:bottom; padding-bottom:5px; }
.title {border-top:2px solid #949494;}


/* 왼쪽 카테고리 */
.left_menu {font-size:9pt; font-family:; color:#8B8B8B; line-height:160%} 
.line {	border-top-width: 0px;	border-right-width: 0px; border-bottom-width: 1px;	border-left-width: 0px;	border-bottom-style: dotted;	border-bottom-color: #cccccc;}
.sub_dot {background:url('/images/mainimg/news_dott.gif') 20px 9px no-repeat; padding-left:30px;}
            

/* 게시판 - 테이블 스타일 */
.table_style {width:100%;}
.table_style td.tit {font-size:9pt; color:#555555; padding:8 0px; background:#f9f9f9; border-bottom:1px solid #dddddd; font-weight:bold;}
.table_style td.con {padding:5 0px; border-bottom:1px solid #dddddd;}


/* 게시판 - 검색 */
.search_bg {border-top:1px solid #a9a9a9; border-bottom:1px solid #d7d7d7; padding:5px 0px; background:#f9f9f9;}
			                                                                                                                                                                       

/* 공지사항 */
.news_dot {background:url('/images/mainimg/news_dott.gif') 15px 8px no-repeat; padding-left:25px;}


/* 메인 - 상품 리스트*/
.prd_list {padding:15px 8px; border-left:1px solid #dbdcdf; border-right:1px solid #dbdcdf;}

.pro_list .prd {text-align:center; border:1px solid #dedede;}
.pro_list .subject {font-weight:bold; text-align:center; line-height:140%;}
.pro_list .price {font-weight:bold; color:#000000; text-align:center; padding:3px 0px;}
.pro_list .coupon {font-weight:bold; color:#f2334a; text-align:center; vertical-align:middle;}.foot_link {font-size:11px; font-family:Dotum; color:#b4b4b4; padding-left:30px;}
.foot_link a:link, visited, hover {font-size:11px; font-family:Dotum; color:#525252;}


/* 카피라이트 */
.foot_add {font-size:11px; font-style:"돋움","Dotum"; line-height:140%;}                
.address {padding-left:30px; font-size:11px; font-family:Dotum; color:#868686;}



/* 회원관련 - 로그인 */
.input_id { font-size:12px; color: #847f74; font-family:"돋움", Dotum; border: #cfcfcf 1px solid; background-color: #ffffff;}

.check_save td {padding-top:20px; font-size:11px; font-family:Dotum;}


/* 회원가입 폼 */
.join_member td {font-size:8pt; font-family:"돋움", Dotum; padding-top:3px; padding-bottom:2px; line-height:160%;}
.join_member td.tit {text-align:left; font-size:9pt; font-family:Dotum; padding-top:3px; padding-bottom:2px; font-weight:bold; right no-repeat; font-weight:bold; border-right:1px solid #d7d7d7; background-color:#fafaf9; color:#707070; padding-left:10px;}
.join_member td.val {text-align:left; padding-left:10px;}
.join_input {font-size:8pt; font-family: "돋움", Dotum; color:#545454; border-top:1px solid #aeaeae; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; border-left:1px solid #aeaeae; background-color:#f6f6f6;}

.idpw_box {background:#f5f5f5; border:1px solid #ededed; padding:15 25px;}
.form_sub {color:#4d4d4d; font-size:8pt; font-family:Dotum;}
.blue {font-size:11px; font-family:"돋움"; color:#0066CC; line-height:160%;}
.gray {font-size:11px; font-family:"돋움"; color:#aeaeae; line-height:160%;}

/* 상품주문 */
.order_form td.tit {text-align:left; font-size:9pt; font-family:Dotum; padding-top:3px; padding-bottom:2px; font-weight:bold; right no-repeat; font-weight:bold; border-right:1px solid #d7d7d7; background-color:#fafaf9; color:#707070; padding-left:10px;}
.order_form td.val {text-align:left; padding-left:10px;}

/* 장바구니 */
.amout_num {border:0px; font-size:9pt; font-family:"굴림","돋움"; color:#545454; border:1px solid #dfdfdf; background-color:#ffffff;}

/* 제품 뷰페이지 */ 
.p_name {font-size:14px; color:#000000; font-family:Dotum,"돋움"; padding-right:20px; font-weight:bold;}
.p_tit {background:url('/images/shop/prdinfo_line.gif') right no-repeat; font-weight:bold;}
.price {font-weight:bold; color:#d43d60; font-size:12px;}
.price_b {font-weight:bold; color:#d43d60; font-size:14px;}

/* 제품 리스트 */
.cat_icon {background:url('/images/shop/product_cat_icon.gif') 5px 9px no-repeat; padding-left:20px;}
.search_icon {background:url('/images/shop/product_cat_icon.gif') 5px 7px no-repeat; padding-left:20px;}

/* 고객센터 */
.cust_dot {background:url('/images/mainimg/news_dott.gif') 2px 8px no-repeat; padding-left:10px; height:20px;}

/* 메일 관련 */
.mail_titbg {border:1px solid #d9d9d9; padding:10px 25px;}
.mail_title {color:#545454; font:"맑은 고딕",Dotum 14px bold;}
.mail_add {color:#b3b3b3; font-family:dotum; font-size:8pt; background:#000;}

/* 사이트맵 */
.sitemap td {padding-top:2px;}
.site_dot {background:url('/images/other/sitemap_dot.gif') 5px 17px no-repeat; padding-left:12px; color:#000000;}
.site_dot02 {background:url('/images/other/sitemap_dot.gif') 3px 15px no-repeat; padding-left:12px; color:#000000;}
.site_link  {color:#777c80; font-size:8pt; font-family:Dotum;}
a.site_link:link {color:#777c80; font-size:8pt; font-family:Dotum;}
a.site_link:hover {color:#222222; font-size:8pt; font-family:Dotum;}
a.site_link:visited {color:#777c80; font-size:8pt; font-family:Dotum;}