@charset "UTF-8";
/*CSS Document*/

/* Mobile 공통 --------------------------------------------------*/
a { color:#666; text-decoration:none; }


/* Mobile PHOTO List --------------------------------------------------*/
.M_pic_List { border-top:1px solid #333; }
.M_pic_List_th {padding:5px 0 5px; text-align:left; overflow:hidden; }
.M_pic_List_th a { font-size:14px; color:#444; font-weight:normal; display:inline-block; width:170px; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; white-space:nowrap;  }
#M_SubBody .M_pic_List_th img { max-height:11px; width:11px; }
.M_pic_List_td { padding:5px 0px; font-size:12px; color:#666; font-weight:normal; }
.M_pic_List_td .tit_date { font-size:12px; color:#999; font-weight:normal; }


/* Mobile PHOTO View --------------------------------------------------*/
.M_pic_View { border-top:1px solid #333; }
.M_pic_View_th { padding:12px 10px; text-align:left; color:#333; border-bottom:1px solid #ddd; background:#f7f7f7; }
.M_pic_View_td { padding:12px 10px;  border-bottom:1px solid #ddd;text-align:left;  font-weight:normal; font-size:12px; }
.M_pic_View_td .tit_date { font-size:12px; color:#999; font-weight:normal; }


/* Contents 사이즈 */
#M_pic_View_cont {padding:25px 0px; border-bottom:1px solid #ddd; overflow:hidden; }
#M_pic_View_cont #wiz_get_table_width { width:100%!important }


/* Mobile 카테고리  --------------------------------------------------*/
.mCategory { border:1px solid #ddd; background:#f8f8f8;  padding:15px; margin-bottom:10px; font-size:14px; }


/* Mobile 이전글,다음글  --------------------------------------------------*/
.mNextPrev th { padding:12px 10px; text-align:left; color:#333; border-bottom:1px solid #ddd; background:#f7f7f7; font-size:12px; width:20%; }
.mNextPrev td { padding:12px 10px;  border-bottom:1px solid #ddd;text-align:left;  font-weight:normal; font-size:12px; }
#M_SubBody .mNextPrev td img { max-height:11px; width:11px; vertical-align:middle; }


/* Mobile 페이징  --------------------------------------------------*/
.mPaging td { padding:0 1px; }
.mPaging td a { color:#666; }


/* Mobile Sub 게시판 하단 검색  --------------------------------------------------*/
.mSch_select { padding:8px; border:1px solid #ddd; }
.mSch_input { padding:8px; border:1px solid #ddd; width:120px; }


/* Mobile Password 암호  --------------------------------------------------*/
#M_pw_wrap { border:1px solid #ddd; background:#f8f8f8; padding:25px 15px; }
#M_pw_wrap .mPw_txt { font-size:13px; padding:0px 0; }
#M_pw_wrap .mPw_input { padding:15px 0 5px; }
#M_pw_wrap .mPw_input input { border:1px solid #ddd; padding:4px 8px; width:180px; }

