a:link { text-decoration: none } /*color: #83807d; */
a:visited { text-decoration: none } /*color: #83807d; */
a:hover { text-decoration: underline } /*color: #83807d; */
a:active { text-decoration: none } /*color: #ff0000; */

p { margin-top: 0px; margin-bottom: 0px }
td,table { font-size: 12px; line-height: 160%; font-family: verdana;} /*color: #847f74; */

.select {font-size:9pt; font-family:"굴림","돋움"; color:#666666; border:1px solid #cccccc; background-color:#ffffff;}
.input {border:0px; font-size:9pt; font-family:"굴림","돋움"; color:#545454; border:1px solid #dfdfdf; background-color:#f7f7f7;}
.search_input { font-size:12px; color: #847f74; font-family:"굴림"; border: #cfcfcf 1px solid; background-color: #ffffff;}